{% extends 'app1/base.html' %}
{% block body %}
{% load static %}
{% if user.is_authenticated %}
<!-- Include jQuery -->
<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->

<!-- Include jQuery.table2excel plugin -->
<!-- <script src="https://cdn.jsdelivr.net/npm/jquery-table2excel@1.1.0/dist/jquery.table2excel.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<style>
    #ui-datepicker-div {
        width: 15rem;
        left: 600px;
        font-size: 1rem;
        background-color: aliceblue;
    }

    .ui-datepicker-title {
        font-size: .8rem
    }

    .ui-datepicker-calendar {
        display: none;
    }

    .datepicker {
        margin-top: 1rem;
        display: grid;
        justify-items: center;
    }

    select>option {

        background-color: rgb(212, 212, 212);
    }

    .ui-datepicker-prev {
        background: white;
        cursor: pointer;
    }

    .ui-datepicker-next {
        background: white;
        cursor: pointer;
    }

    .ui-datepicker .ui-datepicker-buttonpane button {
        color: white;
        background: black;
        font-size: .8rem;
    }

    /* .ui-datepicker .ui-datepicker-buttonpane button:hover {
            color: white;
            background: rgb(234, 176, 0);
        } */

    .monthYearPicker {
        font-size: 1rem;
        height: 1.5rem;
        width: 12rem;
    }

    .bar {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    .bar .left {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .bar .left input {
        height: 5vh;
    }
    .nav .active{
        border-bottom: 3px solid rgb(255, 255, 255);
    }
    .nav li a{
        text-decoration: none;
    }
</style>

<div class="page-content">
    <div class="card radius-15">
        <div class="card-body">
            <div class="card-title">
                <center>
                    <h2 class="mb-0">GSTR-1</h2>
                </center>
                <hr>
            </div>
        </div>
    </div>

    <div class="card radius-15">
        <div class="card-body">
            <div class="bar">
                <div class=" left">
                    <div class="px-2">
                        <label style="text-align:left ">From</label><br>
                        <input readonly name="FromDate" class="inputdate form-control" placeholder=" From month/year">
                    </div>
                    <div class="px-2">
                        <label style="text-align:left ">To</label><br>
                        <input readonly name="ToDate" class="inputdate form-control" placeholder=" From month/year">
                    </div>

                </div>
                <div class="right">
                    <button class="btn btn_print btn-outline-info">Print</button>
                    <button class=" btn btn-outline-info" id="export-button" onclick="exportAsExcel()">Excel</button>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-md-10"></div>
                <div class="col-md-2">

                    <script type="text/javascript">
                        $(document).ready(function ($) {
                            console.log('print');

                            $(document).on('click', '.btn_print', function (event) {
                                console.log('print1');
                                event.preventDefault();
                                var element = document.getElementById('pdf-card');
                                var opt =
                                {
                                    margin: 0.5,
                                    filename: 'gstr1' + '.pdf',
                                    image: { type: 'jpeg', quality: 0.98 },
                                    html2canvas: { scale: 2 },
                                    jsPDF: { unit: 'in', format: 'a3', orientation: 'portrait' }
                                };
                                html2pdf().set(opt).from(element).save();

                            });

                        });
                    </script>
                    <script>
                        function exportAsExcel() {
                            const table = document.getElementById('myTable'); // Replace 'myTable' with your table's ID
                            const wb = XLSX.utils.table_to_book(table);

                            XLSX.writeFile(wb, 'gstr1.xlsx');
                        }
                    </script>




                </div>
            </div>
        </div>
    </div>

    <div class="card radius-15 " id="pdf-card">
        <div class="card-body" id="exTab2">

            <ul class="nav nav-tabs row">
                <li class="active col-6 text-center">
                    <a href="#1" data-toggle="tab">Sale</a>
                </li>
                <li class="col-6 text-center"><a href="#2" data-toggle="tab">Sale Return</a>
                </li>
            </ul>


            <div class="tab-content">
                <div class="tab-pane active" id="1">
                    <div class="container-fluid">
                        <table class="table table-responsive-md mt-4 table-hover table-bordered" id="myTable"
                            style="background-color: rgba(0, 0, 0, 0.2);">
                            <thead>
                                <tr  class="text-center" style="background-color: rgba(255, 255, 255, 0.137);">
                                    <th rowspan="2" style="text-align: center;">GSTIN/UIN</th>
                                    <th colspan="4" style="text-align: center;">Invoice Details</th>
                                    <th rowspan="2" style="text-align: center;">Tax Rate</th>
                                    <th rowspan="2" style="text-align: center;">Cess Rate</th>
                                    <th rowspan="2" style="text-align: center;">Taxable Value</th>
                                    <th colspan="4" style="text-align: center;">Amount</th>
                                    <th rowspan="2" style="text-align: center;">Place Of Supply(Name Of State)
                                    </th>
                                </tr>
                                <tr class="text-center" style="background-color: rgba(255, 255, 255, 0.137);">
                                    
                                    <th style="text-align: center;">Party Name</th>
                                    <th style="text-align: center;">Invoice No</th>
                                    <th style="text-align: center;">Date</th>
                                    <th style="text-align: center;">Value</th>
                                    
                                    <th style="text-align: center;">Integrated</th>
                                    <th style="text-align: center;">Central Tax</th>
                                    <th style="text-align: center;">State/UT Tax</th>
                                    <th style="text-align: center;">Cess</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in sale %}
                                <tr class="text-center">
                                    <td>0</td>
                                    <td>{{i.customername}}</td>
                                    <td>{{i.invoiceno}}</td>
                                    <td>{{i.invoicedate}}</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>{{i.IGST}}</td>
                                    <td>{{i.CGST}}</td>
                                    <td>{{i.SGST}}</td>
                                    <td>{{i.TCS}}</td>
                                    <td>{{i.placosupply}}</td>

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <br>

                    </div>
                </div>
                <div class="tab-pane" id="2">
                    <div class="container-fluid">
                    <table class="table2excel  table table-responsive-md mt-4 table-hover table-bordered"
                    style="background-color: rgba(0, 0, 0, 0.2);" id="myTable2">
                    <thead>
                        <tr class="text-center" style="background-color: rgba(255, 255, 255, 0.137);">
                            
                            <th colspan="7" style="text-align: center;">Cr. Note Details</th>
                            <th rowspan="2" style="text-align: center;">Tax Rate</th>
                            <th rowspan="2" style="text-align: center;">Cess Rate</th>
                            <th rowspan="2" style="text-align: center;">Taxable Value</th>
                            <th colspan="4" style="text-align: center;">Amount</th>
                            <th rowspan="2" style="text-align: center;">Place Of Supply(Name Of State)
                            </th>
                        </tr>
                        <tr class="text-center" style="background-color: rgba(255, 255, 255, 0.137);">
                            <th rowspan="2" style="text-align: center;">GSTIN/UIN</th>
                            <th style="text-align: center;">Party Name</th>
                            <th style="text-align: center;">Invoice No</th>
                            <th style="text-align: center;">Invoice Date</th>
                            <th style="text-align: center;">Note No.</th>
                            <th style="text-align: center;">Note Date</th>
                            <th style="text-align: center;">Value</th>
                            
                            <th style="text-align: center;">Integrated Tax</th>
                            <th style="text-align: center;">Central Tax</th>
                            <th style="text-align: center;">State/UT Tax</th>
                            <th style="text-align: center;">Cess</th>
                        
                        </tr>
                        </thead>
                    </table>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>

    $('.inputdate').datepicker({
        changeMonth: true,
        changeYear: true,
        showButtonPanel: true,
        dateFormat: 'MM yy',
        minDate: new Date(2020, 0),  // Year, Index of Month (Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec)
        maxDate: new Date(2023, 11),  // Year, Index of Month (Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec)

        // onClose: function(dateText, inst) { 
        //     var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
        //     var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
        //     $(this).datepicker('setDate', new Date(year, month, 1));
        // }
    }).focus(function () {
        var thisCalendar = $(this);
        // $('.ui-datepicker-calendar').detach();
        $(document).on("click", ".ui-datepicker-close", function () {
            var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
            var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
            thisCalendar.datepicker("option", "dateFormat", "MM yy");

            thisCalendar.datepicker('setDate', new Date(year, month, 1));
        });
    });
        //
</script>
{% endif %}
{% endblock %}